:root{
    --main-color: #F4F4F4;
    --secondary-color: #D42039;
    --font-primary: rgba(0, 0, 0, 0.72);
    --font-secondary: #D42039;
    --border-radius: 30px;
    --box-shaddow: drop-shadow(15px 13px 4px rgba(0, 0, 0, 0.04));
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a, li{
    text-decoration: none;
    list-style: none;
}

a{
  color: #ffffff;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: var(--main-color);
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

nav{
    background-color: var(--secondary-color);
    color: white;
    display: flex;  
    padding: 2% 8%;
    justify-content: end;
    align-items: center;
    position: fixed;
    width: 100vw;
    z-index: 100;

}
nav .links{
    display: flex;
    gap: 4em;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;

}

nav .links li:hover{
    transform: translate(5px, -2px);
}

main{
    width: 70%;
    margin: auto;
}

main #landing-section{
    padding-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    height: 40vw;
}

main #landing-section div{
    gap: 50em;
}

main #landing-section .text-container{
    width: 70%;
}
main #landing-section .text-container h3, h2{
    color: var(--font-secondary);
    font-family: 'Poppins', sans-serif;
}

main #landing-section .text-container h3{
    margin: .5em 0;
}

main #landing-section .text-container hr{
    width: 45%;
    border: 1px solid#D42039;
}

main #landing-section .text-container p{

    margin-top: 2em;
    color: var(--font-primary);
    font-family: 'Poppins', sans-serif;
}

main #landing-section .img-container img{
    width: 100%;
}

/* Services */
main .services{
    background-color: white;
    padding: 3em 3em;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shaddow);
    text-align: center;
    box-shadow: 0px 1px 20px rgba(128, 128, 128, 0.377);
}

main .services .card-container{
    display: flex;
    gap: 1em;
}

main .services .card-container .card{
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    box-shadow: 20px 20px 50px 10px rgb(204, 25, 52) inset;
    color: white;
    font-size: .9em;
    width: 48%;
    margin: auto;
    padding: 2em 4em;
    margin-top: 2em;
    transition: all 0.5 ease;
}

main .services .card-container .card i{
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

/* Projects */
main #projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
}

main #projects .projects-container{
    display: flex;
    flex-direction: row;
    gap: 2em;
    margin: 3em;
}

main #projects .projects-container div{
    background-color: #D42039;
    padding: 5em;
    width: 15em;
    border-radius: 20px;
    cursor: pointer;
}

main #projects .projects-container .proj1, .proj2, .proj3{
    background-repeat: no-repeat;
    background-size: cover;
}

main #projects .projects-container .proj1{
    background-image: url('./img/img1.png');
}

main #projects .projects-container .proj2{
    background-image: url('./img/img2.png');
}

main #projects .projects-container .proj3{
    background-image: url('./img/img3.png');
}


/* Contact Section */

main #contact-container{
    margin-top: 5em;
    background-color: white;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5em 5em;
    gap: 7em;
    box-shadow: 0px 1px 20px rgba(128, 128, 128, 0.377);
}
main #projects .projects-container{
    flex-direction: row;
}
main #contact-container div{
    width: 50%;
}

main #contact-container .img-container img{
    width: 100%;
    border-radius: 6%;main #landing-section .text-container{
        width: 70%;
    }
}

main #contact-container .form-contact form{
    display: flex;
    flex-direction: column;
}

main #contact-container .form-contact h3{
    margin-bottom: 1em;
}

main #contact-container .form-contact input, textarea{
    padding: 1em;
   
    border-radius: 5px;
    border: .1px solid ;
}

main #contact-container .form-contact textarea{
    resize: none;
    height: 10em;
}

main #contact-container .form-contact .submit{
    background-color: var(--secondary-color);
    color: white;
    transition: background-color 0.5s ease, letter-spacing 0.5s ease;
}

main #contact-container .form-contact .submit.hovered{
    background-color: #0068ad;
    letter-spacing: 0.5em;
}

footer{
    background-color: var(--secondary-color);
    text-align: center;
    color: white;
    margin-top: 5em;
    padding: 3em 0em;
}

footer .contacts{
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
}

footer hr{
    width: 75%;
    margin: auto;
    color: aqua;
    border: 0.0005px solid#ffffff;
    margin: 2em auto;
}

@media screen and (max-width: 1000px) {

    main #landing-section{
        padding-top: 6em;
        margin-bottom: 5em;
    }

    main #landing-section .text-container{
        width: 90%;
    }
  
    main .services .card-container{
        flex-direction: column;
    }

    main .services .card-container .card{
        width: 100%;
    }

    main #contact-container .img-container{
        display: none;
    }

    main #contact-container{
        padding: 2.5em 2em;
    }

    main #contact-container div{
        width: 85%;
        margin: auto;
    }

    main #contact-container{
        align-items: center;
        justify-content: center;
    }

}

/* Tablet query */

@media screen and (max-width: 830px) {

    main #projects .projects-container{
        flex-direction: column;
    }

    main #projects .projects-container div{
        width: 25em;
        height: 15em;
    }
}

@media screen and (max-width: 800px) {
    main #landing-section{
        flex-direction: column;
        padding-top: 25em;
        margin-bottom: 25em;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    main #landing-section .img-container img{
        width: 70%;
        margin: auto;
    }
    main #landing-section .img-container{
        display: flex;
    }

    main #landing-section div{
        width: 100%;
    }

}

/* Phone query */

@media screen and (max-width: 450px) {

    main{
        width: 92%;
    }

    main .services{
        width: 95%;
        margin: auto;
        padding:3em 1em;
    }

    main #projects .projects-container div{
        width: 20em;
        margin: auto;
        height: 15em;
    }
}